doctype html
html(lang='en')

  include ../mixins/input-group.pug
  include ../includes/head.pug

  body

    include ../includes/nav-bar.pug

    #top.jumbotron
      .container
        h2.display-6 Change password

    .container

      form

        input#changing-self.input(style='display:none', value=changingSelf)
        #username-form-group.form-group
          label.form-control-label User name
          label
          input.form-control(type='text', readonly='' placeholder=selectedUser.userName)

        +inputGroup('password', 'Password')(autocomplete='off', type='password', data-regex='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})', data-errormessage='Must be greater than or equal to 8 characters and contain lower and upper case characters with numbers and special characters')
        +inputGroup('confirm-password', 'Confirm password')(autocomplete='off', type='password', data-regex='^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})', data-errormessage='Must be greater than or equal to 8 characters and contain lower and upper case characters with numbers and special characters', data-comparison='password', data-comparisontype='equal-to', data-comparisonerrormessage='Passwords do not match!')

        div.text-right
          button#changePassword.btn.btn-primary(type="button", data-loading-text="<i class='icon-spinner icon-spin'></i> Changing password") Change password

        include ../includes/error-box.pug

      include ../includes/footer.pug

    include ../includes/scripts.pug

    script(type='text/javascript').
      $(function() {
          elencyConfig.changePassword();
      });