doctype html
html(lang='en')

  include includes/head.pug

  body

    include includes/nav-bar.pug

    #top.jumbotron
      .container
        h2.display-6 Enter a Recovery Code

    .container

      form(action='/totp-reset', method='post')

        #code-form-group.form-group

          p By entering your recovery code and continuing, you will no longer be enrolled in Two Factor authentication!

          p If you do not have a recovery code seek administrator support.

          div.col-md-4
            label.form-control-label(for='code') Recovery Code
            input#code.form-control(type='text', name='code', autocomplete='off', data-regex='^[\\d]{6,}$', data-errormessage='Code is not valid e.g. 123456 (^[\d]{6}$)')
            #code-info.form-control-feedback
            br
            div.text-left
              button#reset.btn.btn-primary(type="submit") Recover
      
      include includes/error-box.pug

      include includes/footer.pug

    include includes/scripts.pug

    script(type='text/javascript').
      $(function() {
          elencyConfig.totpReset();
      });