.jumbotron {
    padding-top: 2.5rem;
    padding-bottom: 0.5rem;
}

#error-box, #error-box-key-decrypt, #error-box-export, #error-box-publish, #error-box-delete, #error-box-ldap-users, #error-box-ldap-select {
    display: none;
    margin-top: 1rem;
}

#error-box span, #error-box-key-decrypt span, #error-box-export span {
    clear: left;
    display: block;
}

.user-name {
    color: white;
    margin-right: 1rem;
}

.select-all-permissions, .select-all-teams, .label-info, #decryptKeyValue, #file, #goTop, #compare, .configuration-retrieval-button {
    margin-left: 1rem;
}

#compare.no-left-margin {
    margin-left: 0;
}

#addConfigurationItem, #edit, #import, #decrypt, #export, #publish, #delete, #copy {
    margin-right: 1em;
}

#showInheritance {
    margin-left: 1em;
}

.team-write {
    margin-left: 0rem;
}

.create-button, #compare, #generate-key {
    margin-bottom: 1rem;
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

#change-key-value-container {
    display: none;
}

#cancel {
    margin-right: 1rem;
}

.breaker {
    margin-bottom: 1rem;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

textarea {
    width: 100%;
}

.float-right {
    float: right;
}

.secure-form-group {
    clear:left;
}

.configuration-item, .configuration-item .form-group, .permissions {
    float:left;
}

.configuration-item .close {
    color: #d9534f;
    margin-right: -1rem;
    opacity: 1;
}

.hide, #encrypted-entries-secure-container {
    display: none;
}

.search {
    display: none;
    padding-left: 0;
}

.info-value {
    margin-left:0.5rem;
}

.encrypted-value pre {
    color: #d9534f;
}

.info-left {
    float: left;
    display: block;
}

.info-right {
    float: right;
    display: block;
}

.table-highlight, .table-highlight>td, .table-highlight>th {
    background-color: #fdc548;
}

.table-highlight.no-vertical-border, .table-highlight>td.no-vertical-border, .table-highlight>th.no-vertical-border {
    border-left: none;
    border-right: none;
}

.move-up, .move-down {
    font-size: 1rem;
}

.move-up {
    margin-top: 2rem;
}

.move-down {
    margin-top: 4rem;
}

.move-up i, .move-down i {
    color: #5cb85c;
}

.comparison pre {
    background-color: #fafbfc;
    border: 1px solid #e1e4e8;
    padding: 0.5rem;
}

pre.diff {

}

pre.added {
    background-color: #cdffd8;
}

pre.removed {
    background-color: #ffdce0;
}

pre code.added {
    background-color: #cdffd8;
}

pre code.nochange {
    background-color: #f1f8ff;
}

pre code.removed {
    background-color: #ffdce0;
}

#star {
    font-family: 'Roboto', sans-serif;
    color: #ccd6dd;
    cursor: pointer;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0.75rem;
}
#star:hover, #star.active {
    color: #ffac33;
}
/*https://github.com/argelius/favorite-star/blob/master/favorite-star.html*/
#star.selected.bounce {
    animation: favorite-star-bounce 0.3s ease-in-out;
}

@-webkit-keyframes favorite-star-bounce {
    0% {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
    }
    50% {
        -webkit-transform: scale3d(1.4, 1.4, 1.0);
    }
    to {
        -webkit-transform: scale3d(1.0, 1.0, 1.0);
    }
}
@-moz-keyframes favorite-star-bounce {
    0% {
        -moz-transform: scale3d(1.0, 1.0, 1.0);
    }
    50% {
        -moz-transform: scale3d(1.4, 1.4, 1.0);
    }
    to {
        -moz-transform: scale3d(1.0, 1.0, 1.0);
    }
}

@keyframes favorite-star-bounce {
    0% {
        transform: scale3d(1.0, 1.0, 1.0);
    }
    50% {
        transform: scale3d(1.4, 1.4, 1.0);
    }
    100% {
        transform: scale3d(1.0, 1.0, 1.0);
    }
}

.permissions {
    padding:0;
}

.permissions .permissions-heading {
    background-color: #f6f8fa;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:bold;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.permissions .team {
    float: left;
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}

.permissions .team div {
    float: left;
}

.permissions .close {
    color: #d9534f;
    opacity: 1;
}

#add-team, #add-app, #add-role {
    padding-bottom: 0;
}

#add-team label, #add-team input, #add-team div, #add-app label, #add-app input, #add-app div {
    float:left;
}

#add-team label, #add-app label {
    margin-right: 1rem;
}

.role-selection {
    padding-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.strong {
    font-weight: bold;
}

div.col-md-12.app-permission {
    padding-bottom: 5px;
}

.tt-dataset, .tt-suggestion {
    width:100%
}

.warning {
    font-weight: bold;
    color: #d9534f;
}

.audit-hidden, #inheritance-rules-hidden {
    display:none
}

#inheritance .heading {
    margin-bottom: 0.7rem;
}

#inheritance ul {
    margin-top: 0;
}