mixin search(placeholder)
  #search-form-group.form-group.col-md-6.search
    input#search.form-control(placeholder=placeholder, type='text', autocomplete='off')&attributes(attributes)
    span.glyphicon.glyphicon-search.form-control-feedback