head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title elency-config
    link(rel='icon', href='/favicon.ico')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/jumbotron.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/typeaheadjs.css', rel='stylesheet')
    link(href='/css/elency-config.css', rel='stylesheet')
