script(src='/js/jquery-3.2.1.min.js')
script(src='/js/tether.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/ie10-viewport-bug-workaround.js')
script(src='/js/typeahead.jquery.js')
script(src='/js/elency-config.js')